
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="ftco-section ftco-services-2 bg-light" id="application-form">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <h3 class="heading">Registration</h3>
            </div>
        </div>
        <fieldset>
            <legend>Student Details</legend>
            <div class="row rowstyle">
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>First Name<span class="star">*</span></label>
                    <input type="text" id="txtFirstName" class="inputnew">
                    <label id="lblFirstNameError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Middle Name<span class="star">*</span></label>
                    <input type="text" id="txtMiddleName" class="inputnew">
                    <label id="lblMiddleNameError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Last Name<span class="star">*</span></label>
                    <input type="text" id="txtLastName" class="inputnew">
                    <label id="lblLastNameError" class="errormsg"></label>
                </div>

            </div>
            <div class="row rowstyle">
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Gender<span class="star">*</span></label>
                    <input type="text" id="txtGender" class="inputnew">
                    <label id="lblGenderError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>DOB<span class="star">*</span></label>
                    <input type="text" id="txtDOB" class="inputnew">
                    <label id="lblDOBError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Blood Group<span class="star">*</span></label>
                    <input type="text" id="txtBloodGroup" class="inputnew">
                    <label id="lblBloodGroupError" class="errormsg"></label>
                </div>


            </div>
        </fieldset>
        <fieldset>
            <legend>Guardian Details</legend>
            <div class="row rowstyle">
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Guardian Name<span class="star">*</span></label>
                    <input type="text" id="txtGuardianName" class="inputnew">
                    <label id="lblGuardianNameError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Mobile No<span class="star">*</span></label>
                    <input type="text" id="txtMobileNo" class="inputnew">
                    <label id="lblMobileNoError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Email<span class="star">*</span></label>
                    <input type="text" id="txtEmail" class="inputnew">
                    <label id="lblEmailError" class="errormsg"></label>
                </div>

            </div>
            <div class="row rowstyle">
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Alternet No<span class="star">*</span></label>
                    <input type="text" id="txtAlternetNo" class="inputnew">
                    <label id="lblAlternetNoError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Address<span class="star">*</span></label>
                    <input type="text" id="txtAddress" class="inputnew">
                    <label id="lblAddressError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Pincode<span class="star">*</span></label>
                    <input type="text" id="txtPincode" class="inputnew">
                    <label id="lblPincodeError" class="errormsg"></label>
                </div>


            </div>
            <div class="row rowstyle">
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Relation With Student<span class="star">*</span></label>
                    <input type="text" id="txtRelWithStud" class="inputnew">
                    <label id="lblRelWithStudError" class="errormsg"></label>
                </div>
            </div>


        </fieldset>
        <fieldset>
            <legend>Service Details</legend>
            <div class="row rowstyle">
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Service<span class="star">*</span></label>
                    <div id="ddlService" class="inputnew"></div>
                    <label id="lblAlternetNoError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Institute<span class="star">*</span></label>
                    <div id="ddlInstitute" class="inputnew"></div>
                    <label id="lblAddressError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Standard<span class="star">*</span></label>
                    <div id="ddlStandard" class="inputnew"></div>
                    <label id="lblStdError" class="errormsg"></label>
                </div>
            </div>
            <div class="row rowstyle">
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Start Date<span class="star">*</span></label>
                    <input type="text" id="txtStartDate" class="inputnew">
                    <label id="lblAlternetNoError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>End Date<span class="star">*</span></label>
                    <div id="ddlEndDate" class="inputnew"></div>
                    <label id="lblAddressError" class="errormsg"></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                    <label>Institute From Time<span class="star">*</span></label>
                    <input type="text" id="txtFromTime" class="inputnew">
                    <label id="lblStdError" class="errormsg"></label>
                </div>
            </div>
            <div class="row rowstyle">
                <div id="ServiceList">
                </div>
                <div id="ContainerNoDataFound" class="alert alert-success text-center" style="display: none;">No records found</div>
            </div>

        </fieldset>

            <div class="row rowstyle">
                <div class="col-lg-12 col-md-12 col-sm-12 form-group text-center">
                    <input type="button" class="btn btn-primary" value="Back" id="btnBack" />
                    <input type="button" class="btn btn-primary" value="Submit" id="btnSubmit" />
                </div>
            </div>

    </div>
</section>
