
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_RohiniTravelsLayout.cshtml";
}

<style>
    .site-navbar-target {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
</style>

<br />
<br />
<br />
<br />

<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="registration-form">
    <div class="container-fluid" style="padding:0;">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex" style="padding:0;">
                <div class="video-background">
                    <div class="video-wrap">
                        <div id="video">
                            <video id="bgvid" autoplay loop muted playsinline>
                                <source src="../video/video.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 py-3 registration-form">
                <div class="row justify-content-start pb-3">

                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">Reset Password</h2>
                        <span class="subheading">We have send you an OTP on your Registred email Id  ****ey64@gmail.com </span>
                        <br />
                        <div class="card">
                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    Verification
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Enter OTP</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="txtOTP" maxlength="6" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="button" class="btn btn-primary " value="Submit" id="btnSubmitOTP" /> &nbsp;&nbsp;
                                        <input type="button" class="btn btn-primary " style="width:22%" value="Clear" id="btnClearOTP" /> &nbsp;&nbsp;
                                        <input type="button" class="btn btn-primary " value="Resend" id="btnResend" /> &nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    Guardian Info
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Password</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" id="txtPassword" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Confirm Password</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" id="txtConfirmPassword" />
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="text-align:center">
                                        <input type="button" class="btn btn-primary " value="Submit" id="btnResetPwd" />&nbsp;&nbsp;&nbsp;
                                        <input type="button" class="btn btn-primary " value="Clear" id="btnClearPwe" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

